/* div{
    text-align: center;
    background-color: lightblue;
} */
.login-container, .register-container {
    text-align: center;
    background-color: pink;
    width: 400px;
    padding: 15px;
    text-align: center;
}

